@import './layout.css';
@import './userbar.css';
@import './messages.css';
@import './spinner.css';

ul, ol { margin: 0; padding: 0; }
h2 { font-weight: 300; }
h3 { font-weight: 400; }
a { color: #5a9bc9; outline: none; }
a:hover { color: #5a9bc9; }

body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 100%;
    margin: 0;
    color: #949595;
    background: #cfd0d0;
}
.top-bar.container {
    border-top: 3px solid #7c7c7c;
}
.app-header h1 {
    margin: 0.45em auto;
    font-weight: 400;
    font-size: 2em;
    line-height: 0.95;
}
.app-header h1 span {
    display: block;
    padding: 0.5em 0;
    color: #a6a7a7;
    font-weight: 700;
    font-size: 0.45em;
}
.app-header h1 span.amp {
    display: inline;
    font-size: inherit;
    font-weight: inherit;
}

.panel-header {
    padding: 2em 0;
    background: #f2f4f3;
}
.panel-content {
    background: #fff;
    border-top: 30px solid #acaead;
    border-bottom: 20px solid #acaead;
    border-radius: 10px;
    color: #7B7F7B;
    min-height: 75vh;
    margin-bottom: 5em;
}
.panel-logo {
    display: block;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.5;
}
.panel-nav {
    line-height: 2.25;
}
.panel-nav a {
    font-weight: bold;
    display: inline-block;
}
.panel-nav a + a {
    margin-left: 20px;
}
.panel-input {
    width: 100%;
    border: 2px solid #a8a9a8;
    color: #8E9191;
    padding: .25em .5em;
    font: 1em 'Raleway', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}
.panel-input[disabled] {
    background-color: #eee;
}
.panel-button {
    border: 2px solid transparent;
    background: #a8a9a8;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 0.85em;
    padding: 1em 2em;
    margin: 20px 0;
    white-space: nowrap;
    cursor: pointer;
}
.btn-x {
    font-size: 1.2em;
    line-height: 1;
    cursor: pointer;
    margin-left: 1em;
}
input:focus, textarea:focus, button:focus {
    outline: none;
    border: 2px solid #5a9bc9;
}
.panel-header a, .panel-header .panel-logo.active {
    color: #9b9999;
    text-decoration: none;
}
.panel-header .active, .panel-header a:hover {
    color: #5a9bc9;
}
.usermeta {
    color: #7d7b7b;
    width: 185px;
    align-self: center;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    padding-right: .5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.avatar {
    vertical-align: middle;
    margin: .2em .5em .2em 0;
    display: inline-block;
}
.avatar img {
    border-radius: 50%;
}
.uname {
    color: #7b7b7d;
    font-size: 1em;
    text-decoration: underline;
}
.question {
    width: 100%;
    align-self: center;
}
.question-body {
    margin-bottom: .75em;
}
.ans {
    color: rgba(139, 140, 169, 0.8);
}
.ans:before {
    content: "–";
    margin-right: .2em;
}
.ans:after {
    content: "–";
    margin: 0 .3em 0 .15em;
}
.q-count {
    margin-top: 0;
    color: #888;
    border-bottom: 1px solid #aaa;
}
time {
    display: block;
    line-height: 1;
}
time, .list li:before {
    color: #969692;
    font-weight: 300;
    font-size: 0.8em;
    margin-bottom: .75em;
}

.list, .form {
    padding: .5em 0 0;
}
.list {
    position: relative;
    counter-reset: item;
    list-style-type: none;
}
.list li {
    padding: .4em 0;
}
.list li + li {
    border-top: 1px solid #d4d6d5;
}
.list li h3 {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: .2em;
}
.list li h3 a {
    color: #7b7b7d;
    text-decoration: none;
}
.list li h3 a:hover {
    color: #5a9bc9;
}
.list.questions {
    padding: 1em 0 0;
}
.list.questions .avatar {
    margin: 0 .5em .3em 0;
}
.list.answers li {
    padding: .5em 0
}
.list.answers .answer {
    margin-left: 34px;
    margin-bottom: 1em;
    padding-left: .5em;
}
