.spinner {
    display: block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    opacity: 0;
    animation: fadeout 0s ease-out both;
    user-select: none;
    margin: .25em auto 1.25em;
}
.spinner.active {
    animation: fadein .5s ease-out .1s both;
}
.spinner .timer {
    width: 18px;
    height: 18px;
    box-shadow: inset 0px 0px 0px 2px #b2b3b3;
    border-radius: 50%;
    position: relative;
    top: -1px;
 }
.spinner .timer::after, .spinner .timer::before {
    position: absolute;
    content: "";
    background-color: #b2b3b3;
}
.spinner .timer::after {
    width: 7px;
    height: 2px;
    top: 8px;
    left: 8px;
    transform-origin: 1px 1px;
    border-radius: 1px;
    animation: minhand .75s linear infinite;
}
.spinner .timer::before {
    width: 5px;
    height: 2px;
    top: 8px;
    left: 8px;
    transform-origin: 1px 1px;
    border-radius: 1px;
    animation: hrhand 3s linear infinite;
}

@keyframes minhand {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes hrhand {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes fadein {
    100% { opacity: 1; }
}
@keyframes fadeout {
    100% { opacity: 0; }
}
