<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Q&amp;A React-Redux App</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet'>
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
</head>
<body>
  <div id="app"></div>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) {
      if (/^style/.test(chunk)) continue %>
      <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
</body>
</html>
